<div class="px-4 py-3" role="none">
  <p class="hidden text-sm text-gray-900 dark:text-white" role="none">
    <%= current_user.email %>
  </p>
  <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
    <%= current_user.email %>
  </p>
</div>